.salaryRangeListItemCon {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.radioBtnLabelTxt {
  padding-left: 10px;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  padding-top: 4px;
}
