.filters-group-container {
  margin-top: 16px;
  background-color: transparent;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 25%;
    max-width: 280px;
    min-width: 240px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}
.employeeTypeMainCon {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.employment-type-list {
  padding-left: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

.employment-type-heading {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .employment-type-heading {
    margin-top: 32px;
  }
}

.category-item {
  list-style-type: none;
  margin-bottom: 10px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .category-item {
    margin-top: 15px;
  }
}

.category-name {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .category-name {
    font-size: 18px;
  }
}

.active-category-name {
  color: #0967d2;
}
.salary-range-container {
  background-color: black;
}
.salary-range-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 18px;
}

.salary-range-list {
  padding-left: 0px;
}

.salary-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
  list-style-type: none;
}

.and-above {
  color: #f1f5f9;
  font-family: Roboto;
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .and-above {
    font-size: 18px;
    margin-left: 14px;
  }
}

.active-salary {
  color: #0967d2;
}
.hr-filter {
  background-color: #cbd5e1;
}
